<link rel="stylesheet" href="/styles/footer.css">
<footer class="footer">
    <img src="/images/Stack_Overflow_icon.png" style="width: 5vw;">
    <h3>Contact Us</h3>
    <p>Email: contact@stackoverflow.com</p>
    <p>Phone: +91 6789012345</p>

    <p class="copy">&copy; 2024 Stack Exchange Inc; <br>licensed under CC BY-SA. rev 2024.7.9.12232</p>
</footer>