<!DOCTYPE html>
<html>

<head>
    <title>Stack Overflow Clone | About</title>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/navbar') %>
        <div class="aboutHero">
            <img src="/images/Stack_Overflow_icon.png">
            <h1>Empowering the world to develop technology <p class="bold"> through collective knowledge</p>
            </h1>
            <p class="sub">Our products and tools enable people to ask, share and <br> learn at work or at home.</p>
        </div>
        <div class="box">
            <p><strong> 15 years</strong><br>of trusted and high-quality knowledge</p>
            <p><strong> 14 seconds</strong><br>average time between new questions</p>
            <p><strong> 58 million</strong><br>total questions and answers so far</p>
            <p><strong> 51 billion</strong><br> times knowledge has been reused</p>
        </div>

</body>

</html>