<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/forms.css">
    <title>Add Question</title>
</head>

<body>
    <%- include('./partials/navbar') %>
        <h1>Add Question</h1>
        <form action="/questions" method="post">
            <input type="text" name="title" placeholder="Title" class="input" required>
            <textarea name="description" placeholder="Description" class="input textarea"></textarea>
            <button type="submit" class="btn">Add Question</button>
        </form>
</body>
<%- include('./partials/footer') %>

</html>