<!DOCTYPE html>
<html>

<head>
    <title>Add Question</title>
</head>

<body>
    <%- include('./partials/navbar') %>

        <h1>Add Question</h1>
        <form action="/questions" method="post">
            <input type="text" name="title" placeholder="Title" required>
            <textarea name="description" placeholder="Description" required></textarea>
            <button type="submit">Add Question</button>
        </form>
</body>

<%- include('./partials/footer') %>

</html>