<!DOCTYPE html>
<html>

<head>
    <title>Stack Overflow Clone | Home</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/navbar') %>
        <div class="homeContainer">

            <div class="text">

                <h1>Every <strong style="color: #e57011;">developer</strong> has a
                    tab open to Stack Overflow.</h1>
                <p>For over 15 years we have been the Q&A platform of choice that millions of people visit every month
                    to
                    ask
                    questions, learn, and share technical knowledge.</p>
            </div>

            <img src="/images/illo-home-hero.png" alt="StackOverflow">
        </div>

        <div class="homeSub">

            <div class="subText">

                <img src="/images/logo-stackoverflow.png" alt="StackOverflow">
                <p>Join our mission to help empower the world to develop <br>technology through collective knowledge.
                </p>
            </div>

            <img src="/images/illo-home-careers.png" alt="StackOverflow" class="subImage">
        </div>

        <div class="bottomTiles">
            <div class="tile">
                <img src="/images/Q.png" alt="Q&A" style="width:8vw;">
                <p>
                    Check out our <strong>FAQ about how <br> Stack Overflow</strong> works.
                </p>
            </div>
            <div class="tile">
                <img src="/images/P.png" alt="Platfrom" style="width:8vw;">
                <p>
                    To share <strong> feedback about our <br> platform, </strong> please visit our meta <br> community.
                </p>
            </div>
            <div class="tile">
                <img src="/images/C.png" alt="Community" style="width:8vw;">
                <p>
                    Looking for help with <strong>Stack <br> Overflow for Teams?</strong>
                </p>
            </div>
            <div class="tile">
                <img src="/images/D.png" alt="Documents" style="width:8vw;">
                <p>
                    Find <strong>legal documents <br></strong> for our products and <br>services.
                </p>
            </div>
        </div>
</body>
<%- include('./partials/footer') %>



</html>