<!DOCTYPE html>
<html>

<head>
    <title>Stack Overflow Clone | Home</title>
</head>

<body>
    <%- include('./partials/navbar') %>
        <h1>Every <strong>developer</strong> has a
            tab open to Stack Overflow.</h1>
        <p>For over 15 years we have been the Q&A platform of choice that millions of people visit every month to ask
            questions, learn, and share technical knowledge.</p>


</body>

</html>