<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/forms.css">

    <title>Register</title>
</head>

<body>
    <%- include('./partials/navbar') %>
        <h1>Register</h1>
        <form action="/auth/register" method="post" class="login">
            <% if (error){ %>
                <% if (error==='User already exists' ) { %>
                    <p style="color: red;">User already exists. Use a different Email.</p>
                    <% } %>
                        <% } %>
                            <input type="text" name="username" placeholder="Username" class="input" required>
                            <input type="email" name="email" placeholder="Email" class="input" required>
                            <input type="password" name="password" placeholder="Password" class="input" required>
                            <button type="submit" class="btn">Register</button>
        </form>
</body>

<%- include('./partials/footer') %>

</html>