.aboutHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutHero h1 {
    text-align: center;
    font-size: 300%;
    font-weight: 400;
}

.aboutHero .sub {
    color: rgb(134, 134, 134);
    text-align: center;
    font-size: 150%;
    margin-bottom: 20%;
}

.bold {
    font-weight: 800;
    margin: 0;

}

.aboutHero img {
    width: 10%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.box {
    display: flex;
    flex-direction: row;
}

.box p {
    background-color: #F9FAFA;
    text-align: center;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 10px;
    padding: 2% 5%;
    margin: 0.1%;
    margin-bottom: 10%;
}

.box p strong {
    font-weight: 700;
    font-size: 200%;
}