body {
    margin-top: 5% !important;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin: auto;
}

.login {
    max-width: 30vw;
    border: 2px solid rgb(171, 171, 171);
    background-color: #f9fafa;
    border-radius: 10px;
    padding: 5% 3%;

}

.input {
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    background: #f9fafa;
    border: 2px solid rgb(171, 171, 171);
}

.textarea {
    min-height: 45vh;
}

.anstextarea {
    min-height: 20vh;
}

.btn {
    border-radius: 5px;
    background-color: blue;
    color: white;
    width: 10vw;
    height: 5vh;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3%;
    cursor: pointer;
    border: 2px solid rgb(49, 49, 232);
}


.btn:hover {
    background-color: rgb(0, 0, 174);
}